.maintable
{
	display:grid;
	font-family:tahoma;
	color:#fff;
	grid-template-columns:1fr 1fr;
	grid-template-rows: 0fr 0fr 0fr 0fr;
	column-gap:2em;
	margin-left:1em;
}
.tableOutput
{
	grid-row:2;
	grid-column:1;
}

.tableOutput2
{
	grid-row:1;
	grid-column:1;
}
.tableOutput3
{
	grid-row:3;
	grid-column:1;
}
.tableOutput4
{
	grid-row:4;
	grid-column:1;
}
.buttonTable
{
	grid-row:1;
	grid-column:2;
}
.returnTable
{
	grid-row:2;
	grid-column:2;
}
table
{
	font-size:25px;
	width:100%;
	color:#fff;
	border-collapse: collapse;
}

th, td
{
	padding-top: 0.6rem;
	padding-right: 0.6rem;
	text-align:left;
	border-bottom:#3e3e3e 2px solid;
}
th
{
	border-bottom:white 2px solid;
}
caption
{
	font-size:30px;
	font-weight:bold;
}
ul,ol
{
	margin:0;
	padding:0;
	margin-left:0.5em;
	padding-left:0.5em;
}
h1{margin:0;}
hr
{
	border: none;
    background-color: #ccc;
    color: #ccc;
    height: 1px;
}
#tableHide, #tableHide4, #tableHide3
{
	display:none;
}